body {
	margin: 50px 0;
	padding: 5px;
	font-size: 1em;
	font-variant: small-caps;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	--revert-color: rgb(192, 192, 192);
	--revert-em-color: #FFFFFF;
	--main-color: #242424;
	--main-em-color: #000000;
	--link-color: turquoise;
	--link-padding: 3px;
	--border-color: #161414;
	--border-width: 2px;
	--bg-color: #FDFDFD;
	--border-radius: 5px;
	--army-color: #ffef9c;
	background-color: var(--main-color);
}
/*=== Switchable sections ===*/
section {
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--border-color);
	padding: 10px;
	margin: 0;
	color: var(--main-color);
	display: none;
	background-color: var(--bg-color);
	min-height: 25%;
}
section.current {
	display: block;
}
section.error {
	border-color: red;
	color: brown;
	font-weight: bold;
}
/*=== Header + Footer ===*/
header, footer {
	position: fixed;
	left: 0;
	width: calc(100vw - 20px);
	color: var(--revert-color);
	background-color: var(--main-color);
	line-height: 25px;
	--frame-padding: 10px;
	padding: var(--frame-padding);
}
header {
	top: 0;
}
header > .title {
	letter-spacing: 0.2em;
	font-size: 1.5em;
}
header > .badge {
	--badge-radius: 5px;
	border-style: solid;
	border-width: 0 var(--border-width) var(--border-width) var(--border-width);
	border-color: var(--border-color);
    background-color: var(--bg-color);
    color: var(--main-em-color);
    font-size: 1em;
    font-family: monospace;
    padding: 0.25em;
    line-height: 1em;
    margin-top: calc(var(--frame-padding) * -1);
}
header > .badge.left {
	margin-left: calc(var(--frame-padding) * -1);
	border-bottom-right-radius: var(--badge-radius);
	border-left-width: 0;
}
header > .badge.right {
	margin-right: calc(var(--frame-padding) * -1);
	border-bottom-left-radius: var(--badge-radius);
	border-right-width: 0;
}
footer {
	bottom: 0;
	font-size: 0.75em;
}
footer a {
	color: var(--revert-em-color);
	text-decoration: underline;
	text-decoration-color: var(--link-color);
	padding: var(--link-padding);
}
footer a:hover {
	text-decoration: none;
	background-color: var(--link-color);
	border-radius: var(--link-padding);
	color: var(--main-color);
}
footer em {
	color: var(--revert-em-color);
}
/*=== Utility classes ===*/
em, .name {
	color: var(--main-em-color);
	font-weight: bold;
	font-style: normal;
}
.left {
	display: block;
	float: left;
}
.right {
	display: block;
	float: right;
}
/*=== Loading ===*/
@keyframes spin {
	100% { transform: rotate(360deg); }
}
.loader {
	position: relative;
	height: 120px;
	width: 100%;
	/*background-color: var(--bg-color);*/
	--spinner-size: 50px;
	--spinner-padding: 10px;
	--spinner-width: 3px;
	--spinner-color: var(--main-color);
}
.loader > span {
	position: absolute;
	top: calc(50% - (var(--spinner-size) / 2) - var(--spinner-padding) - var(--spinner-width));
    left: calc(50% - (var(--spinner-size) / 2) - var(--spinner-padding) - var(--spinner-width));
    width: var(--spinner-size);
	line-height: var(--spinner-size);
    margin: calc(-(var(--spinner-size) / 2)) 0 0 calc(-(var(--spinner-size) / 2));
	border-width: var(--spinner-width);
	border-style: solid;
	border-radius: 50%;
	border-color: var(--bg-color) var(--spinner-color) var(--bg-color) var(--spinner-color);
	color: var(--spinner-color);
	font-size: calc(var(--spinner-size) / 2);
	padding: var(--spinner-padding);
	animation: spin 10s linear infinite;
}
.loader > span:after {
	content: "+"
}
/*=== Matrix setup ===*/
form {
	max-width: 480px;
	margin: 0 auto;
	--form-spacing: 10px;
}
form > fieldset {
	margin: var(--form-spacing) auto;
}
#init > form > input[type = "submit"] {
	width: 100%;
	float: none;
	margin: var(--form-spacing) 0;
	padding: 8px;
	border-radius: var(--link-padding);
	background-color: green;
	color: var(--revert-em-color);
	border: 1px lightgreen;
	box-shadow: 3px 2px 2px darkgreen;
}
#init > form > input[type = "submit"]:hover {
	font-weight: bold;
	background-color: darkgreen;
	box-shadow: 3px 2px 2px var(--border-color) inset;
}
#init > form > fieldset > div {
	width: 100%;
	clear: both;
	padding: var(--form-spacing) 0;
}
form hr {
	position: relative;
	clear: both;
    margin-top: 30px;
	overflow: visible;
}
form hr.or:after {
	position: absolute;
	content: 'or';
	left: 40%;
	width: 20%;
	top: -10px;
	background-color: var(--bg-color);
}
#init label {
	float: left;
	text-align: right;
}
#init input {
	float: right;
}
/*=== Score matrix ===*/
tr > td.name {
	text-align: center;
	height: 22px;
	border: 1px solid lightgray;
}
tr > td.name[colspan] > span {
	white-space: nowrap;
	display: block;
	height: 20px;
}
tr > td.name[rowspan] {
	width: 1em;
	height: auto;
}
tr > td.name[rowspan] > span {
	transform: rotate(-90deg);
	white-space: nowrap;
	display: block;
	width: 20px;
	position: relative;
	top: 22px;
}
table {
	width: 100%;
	font-variant: small-caps;
}
/*=== Score cell ===*/
.score {
	text-align: center;
	white-space: nowrap;
	color: var(--main-color);
}
.score.game {
	background-color: purple;
	color: var(--revert-color);
}
.score.bad {
	background-color: black;
	color: var(--revert-color);
}
.score.below {
	background-color: darkorange;
}
.score.middle {
	background-color: yellow;
}
.score.above {
	background-color: yellowgreen;
}
.score.good {
	background-color: blue;
	color: white;
}
/*=== Navigation bar ===*/
.hidden {
	display: none;
}
nav {
	height: 20px;
}
nav > a, nav > a:visited {
	cursor: pointer;
	color: var(--link-color);
	text-decoration: none;
	padding: var(--link-padding) 10px;
	border-width: var(--border-width);
	border-style: solid;
	border-radius: var(--link-padding) var(--link-padding) 0 0;
	border-color: transparent;
}
nav > a.selected, nav > a.selected:hover {
	cursor: default;
	text-decoration: none;
	background-color: var(--bg-color);
	color: var(--main-em-color);
	border-color: var(--border-color) var(--border-color) var(--bg-color) var(--border-color);
}
nav > a:hover {
	text-decoration: none;
	background-color: var(--link-color);
	color: var(--main-color);
	border-style: dotted;
	border-color: var(--link-color);
}
#ready > div {
	display: none;
}
#ready > div.current {
	display: block;
}
/*=== Shared display ===*/
section > div > div {
	--row-width: 60%;
	--row-height: 40px;
	margin-bottom: 15px;
}
section > div > div::after {
	clear: both;
}
section > div > div > label {
	display: block;
	line-height: var(--row-height);
	float: left;
	width: 100px; /* Fix width is needed for alignment */
	text-align: left;
}
section > div > div.teams > label,
section > div > div.teams > .name {
	height: 1em;
}
.teams {
	margin-bottom: 20px;
}
.teams > .name {
	line-height: var(--row-height);
	min-width: var(--row-width);
	display: inline-block;
}
.teams > .name > .left,
.teams > .name > .right {
	width: 50%;
}
/*=== Assignment screen ===*/
#assign > div > .choice {
	line-height: var(--row-height);
	min-width: var(--row-width);
	display: inline-block;
}
/*=== Analysis screen ===*/
#analysis fieldset {
	border-radius: var(--border-radius);
}
#analysis fieldset label:hover {
	cursor: pointer;
	font-weight: bold;
	color: var(--main-em-color);
}
#analysis span.army {
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 1px solid lightgray;
	border-radius: var(--border-radius);
	background-color: var(--army-color);
}
#analysis span.army:hover {
	cursor: pointer;
	color: white;
	border-color: 	#431f81;
	background-color: rgb(106, 106, 179);
	box-shadow: 3px 2px 2px #b596f3;
}
/*=== Tables ===
 * 
 * <div id="tables>
 *   <!-- ... -->
 *   <div>
 *     <label></label>
 *     <div class="table">
 *       <span class="left"></span>
 *       <span class="right"></span>
 *     </div>
 *   </div>
 * </div>
 */
#tables > div > .table {
	--table-bw: 1px;
	display: inline-block;
}
#tables > div > .table {
	height: var(--row-height);
	min-width: var(--row-width);
	border: calc(2 * var(--table-bw)) solid var(--border-color);
	box-shadow: 5px 3px 3px grey;
	background-color: var(--army-color);
}
#tables > div > .table.unassigned {
	background-color: lightgrey;
}
#tables > div > .table.unassigned > span::before {
	content: "?";
	position: relative;
	font-size: calc(var(--row-height) / 2);
	top: calc(50% - 10px);
	left: 0;
}
#tables .table > span {
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	border: var(--table-bw) dashed transparent;
}
#tables .table > span.left {
	border-right-color: var(--border-color);
}
#tables .table > span.right {
	border-left-color: var(--border-color);
}