body {
	margin: 50px 5px;
	font-size: 1em;
	font-variant: small-caps;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	--revert-color: rgb(192, 192, 192);
	--revert-em-color: #FFFFFF;
	--main-color: #242424;
	--main-em-color: #000000;
}
em, .name, .names > td {
	color: var(--main-em-color);
	font-weight: bold;
	font-style: normal;
}
section {
	border-radius: 5px;
	border: 2px solid #525252;
	padding: 10px;
	margin: 0;
	color: var(--main-color);
	display: none;
}
section.current {
	display: block;
}
section.error {
	border-color: red;
	border-width: 3px;
	color: brown;
	font-weight: bold;
}
header, footer {
	position: fixed;
	left: 0;
	width: calc(100vw - 20px);
	color: var(--revert-color);
	background-color: var(--main-color);
	line-height: 25px;
	padding: 10px;
	--link-color: turquoise;
	--link-padding: 3px;
}
header {
	top: 0;
	letter-spacing: 0.2em;
	font-size: 1.5em;
}
footer {
	bottom: 0;
	font-size: 0.75em;
}
footer a {
	color: var(--revert-em-color);
	text-decoration: underline;
	text-decoration-color: var(--link-color);
	padding: var(--link-padding);
}
footer a:hover {
	text-decoration: none;
	background-color: var(--link-color);
	border-radius: var(--link-padding);
	color: var(--main-color);
}
footer em {
	color: var(--revert-em-color);
}
.left {
	float: left;
}
.right {
	float: right;
}
tr.names > td, tr > td.name {
	text-align: center;
}
table {
	width: 100%;
}
table .score {
	text-align: center;
	white-space: nowrap;
}
.hidden {
	display: none;
}
nav {
	--link-color: blue;
	--link-padding: 3px;
}
nav > a {
	cursor: pointer;
	color: var(--link-color);
	text-decoration-color: var(--link-color);
	text-decoration: underline;
	padding: var(--link-padding);
}
nav > a:hover {
	text-decoration: none;
	background-color: var(--link-color);
	border-radius: var(--link-padding);
	color: var(--main-color);
}